
/* Change the style so it works when it's on the side, too. */
/*
#fk_change_type_id .inside a.button, #fk_change_type_id .inside a.button-primary {
    float: left;
    margin: 2px;
}
#fk_change_type_id .inside {
    padding-bottom: 50px;
}
*/
